@model IEnumerable<MedEvolution.Models.App.Puesto_De_Trabajo>

@{
    ViewBag.Title = "Index";
}

<h2>Puestos de Trabajo</h2>

<p>
    @Html.ActionLink("Nuevo Puesto", "Create","",htmlAttributes: new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario_De_Atencion.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario_De_Atencion.HoraFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario_De_Atencion.HorasLaborales)
        </th>
        <th>@Html.DisplayName("Acciones")</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoPuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario_De_Atencion.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario_De_Atencion.HoraFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario_De_Atencion.HorasLaborales)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CodigoPuesto }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil"}) |
            @Html.ActionLink("Details", "Details", new { id = item.CodigoPuesto }, htmlAttributes: new { @class = "glyphicon glyphicon-list" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CodigoPuesto }, htmlAttributes: new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
