@model IEnumerable<medEvolution.Models.App.Cita>

@{
    ViewBag.Title = "Index";
}

<h2>Citas</h2>

<p>
    @Html.ActionLink("Nueva Cita", "Create","", htmlAttributes: new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCita)
        </th>
        <th>
            @Html.DisplayName("Médico")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medico.Especialidad_Desempeniada.NombreEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.NombreEstado)
        </th>
        <th>
            @Html.DisplayName("Acciones")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Especialidad_Desempeniada.NombreEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdCita }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil"}) |
            @Html.ActionLink("Details", "Details", new { id = item.IdCita }, htmlAttributes: new { @class = "glyphicon glyphicon-list" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdCita }, htmlAttributes: new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
