@model medEvolution.Models.App.Horario_De_Atencion

@{
    ViewBag.Title = "Eliminar";
}

<h2>Borrar</h2>

<h3>¿Está seguro que desea eliminar el horario?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCitasAtender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCitasAtender)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Borrar" class="btn btn-danger" />
            </div>
        </div>
        <div>
            @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-step-backward", @title = "Regresar" })
        </div>
    }
</div>
