@model IEnumerable<MedEvolution.Models.App.Horario_De_Atencion>

@{
    ViewBag.Title = "Index";
}

<h2>Horarios de Atención</h2>

<table class="table table-striped">
    <thead style="background-color:lightskyblue">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoHorario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCitasAtender)
            </th>
            <th align="center">
                @Html.DisplayName("Acciones")
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoHorario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroCitasAtender)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.CodigoHorario }, htmlAttributes: new { @class = "btn btn-warning glyphicon glyphicon-pencil", @title = "Editar" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.CodigoHorario }, htmlAttributes: new { @class = " btn btn-info glyphicon glyphicon-list", @title = "Detalles" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.CodigoHorario }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash", @title = "Eliminar" })
                </td>
            </tr>
        }
    </tbody>

</table>
<p>
    @Html.ActionLink(" ", "Create", null, htmlAttributes: new { @class= "btn btn-primary glyphicon glyphicon-plus", @title="Nuevo horario" })
</p>

