@model MedEvolution.Models.App.Paciente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccion.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.NombreEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.NombreEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoSangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSangre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocupacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocupacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alergia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alergia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discapacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discapacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDiscapacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDiscapacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMadre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMadre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMadre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMadre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePadre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePadre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPadre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPadre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreConyugue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreConyugue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoConyugue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoConyugue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreContactoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreContactoEmergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoContactoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoContactoEmergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoContactoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoContactoEmergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelularContactoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelularContactoEmergencia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
