@model IEnumerable<MedEvolution.Models.App.Paciente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Estado.NombreEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dui)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSangre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ocupacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alergia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discapacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDiscapacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreMadre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMadre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePadre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPadre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreConyugue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoConyugue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreContactoEmergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoContactoEmergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoContactoEmergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CelularContactoEmergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion.Casa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion.Pasaje_Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion.Colonia)
        </th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dui)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSangre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ocupacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alergia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discapacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDiscapacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreMadre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMadre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePadre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPadre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreConyugue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoConyugue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreContactoEmergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoContactoEmergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoContactoEmergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CelularContactoEmergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion.Casa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion.Pasaje_Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion.Colonia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdPaciente }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdPaciente }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdPaciente })
        </td>
    </tr>
}

</table>
