@using medEvolution.Models.App
@model medEvolution.Models.App.Clinica

@{
   ViewBag.Title = "Create";
}

<h2>Nueva</h2>

<div class="form-horizontal">
    <h4>Clínica</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.NombreClinica, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NombreClinica, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreClinica, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Direccion.Colonia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Colonia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Colonia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Direccion.Pasaje_Calle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pasaje_Calle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pasaje_Calle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Direccion.Casa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Casa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Casa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Direccion.Detalle, "Detalle de Direccion (Opcional)", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Direccion.Detalle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Direccion.Detalle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Direccion.Municipio.Departamento, "Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Departamento", new SelectList(ViewBag.Departamento, "CodigoDepartamento", "NombreDep"), htmlAttributes: new { @class = "form-control", id = "Departamento" })
            @Html.ValidationMessageFor(model => model.Direccion.Municipio.Departamento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Direccion.Municipio, "Municipio", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CodigoMunicipio", new SelectList(ViewBag.Municipio, "CodigoMunicipio", "NombreMun"), htmlAttributes: new { @class = "form-control", @id = "Municipio" })
            @Html.ValidationMessageFor(model => model.Direccion.Municipio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-4">
        <section id="addressForm">
            @Html.Partial("~/Views/Direcciones/create.cshtml", new Direccion())
        </section>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    }
</div>
        
<div>
    @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-step-backward", @title = "Regresar" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $('#Departamento').change(function () {
                var selectedDepartamento = $("#Departamento").val();
                var municipiosSelect = $('#Municipio');
                municipiosSelect.empty();
                if (selectedDepartamento != null && selectedDepartamento != '') {
                    $.getJSON('@Url.Action("GetMunicipios")', { cod: selectedDepartamento }, function (municipios) {
                        if (municipios != null && !jQuery.isEmptyObject(municipios))
                        {
                            municipiosSelect.append($('<option/>', {
                                value: null,
                                text: "--Seleccione el Municipio--"
                            }));
                            $.each(municipios, function (index, municipio) {
                                municipiosSelect.append($('<option/>', {
                                    value: municipio.Value,
                                    text: municipio.Text
                                }));
                            });
                        };
                    });
                }
            });
    </script>
}
