@model medEvolution.Models.App.Clinica

@{
                /**/

                ViewBag.Title = "Eliminar";
}

<h2>Borrar</h2>

<h3>¿Está seguro que desea eliminar la clinica?</h3>
<div>
    <h4>Clinica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccion.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreClinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreClinica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Borrar" class="btn btn-danger" />
            </div>
        </div>
        <div>
            @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-step-backward", @title = "Regresar" })
        </div>
    }
</div>
