@model medEvolution.Models.App.Clinica

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Clinica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdClinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdClinica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreClinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreClinica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion.Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion.Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion.Pasaje_Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion.Pasaje_Calle)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-step-backward", @title = "Regresar" })
    @Html.ActionLink(" ", "Edit", new { id = Model.IdClinica }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-warning", @title = "Editar" })
</p>

