@model IEnumerable<medEvolution.Models.App.Clinica>

@{
    ViewBag.Title = "Clínicas";
}

<h2>Clinicas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreClinica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion.DireccionCompleta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion.Municipio.NombreMun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion.Municipio.Departamento.NombreDep)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreClinica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion.DireccionCompleta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion.Municipio.NombreMun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion.Municipio.Departamento.NombreDep)
        </td>

        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.IdClinica }, htmlAttributes: new { @class = "btn btn-warning glyphicon glyphicon-pencil", @title = "Editar" }) |
            @Html.ActionLink(" ", "Details", new { id = item.IdClinica }, htmlAttributes: new { @class = " btn btn-info glyphicon glyphicon-list", @title = "Detalles" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.IdClinica }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash", @title = "Eliminar" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink(" ", "Create", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-plus", @title = "Nueva clinica" })
</p>