@model IEnumerable<medEvolution.Models.App.ConjuntoSignosVitales>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PresionArterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PulsoCardiaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PresionArterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temperatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PulsoCardiaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSignos }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSignos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSignos })
        </td>
    </tr>
}

</table>
