@model IEnumerable<medEvolution.Models.App.ConjuntoSignosVitales>

@{
    ViewBag.Title = "Index";
}

<h2>Conjunto de Signos Vitales</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PresionArterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PulsoCardiaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PresionArterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temperatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PulsoCardiaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatura)
        </td>
       
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.IdSignos }, htmlAttributes: new { @class = "btn btn-warning glyphicon glyphicon-pencil", @title = "Editar" }) |
            @Html.ActionLink(" ", "Details", new {  id = item.IdSignos }, htmlAttributes: new { @class = " btn btn-info glyphicon glyphicon-list", @title = "Detalles" }) |
            @Html.ActionLink(" ", "Delete", new {  id = item.IdSignos }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash", @title = "Eliminar" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink(" ", "Create", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-plus", @title = "Nuevo Conjunto de signos vitales" })
</p>
