@model medEvolution.Models.App.Direccion

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalle</h2>

<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DireccionCompleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionCompleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio.NombreMun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio.NombreMun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio.Departamento.NombreDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio.Departamento.NombreDep)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-step-backward", @title = "Regresar" })
    @Html.ActionLink(" ", "Edit", new { ColoniaID = Model.Colonia, Pasaje_CalleID = Model.Pasaje_Calle, CasaID = Model.Casa }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-warning", @title = "Editar" })
</p>


