@model IEnumerable<medEvolution.Models.App.Direccion>

@{
    ViewBag.Title = "Indice";
}

<h2>Direcciones</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Municipio.NombreMun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Casa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pasaje_Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Municipio.NombreMun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Casa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pasaje_Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
       
        <td>
            @Html.ActionLink(" ", "Edit", new { ColoniaID = item.Colonia, Pasaje_CalleID = item.Pasaje_Calle, CasaID = item.Casa }, htmlAttributes: new { @class = "btn btn-warning glyphicon glyphicon-pencil", @title = "Editar" }) |
            @Html.ActionLink(" ", "Details", new { ColoniaID = item.Colonia, Pasaje_CalleID = item.Pasaje_Calle, CasaID = item.Casa }, htmlAttributes: new { @class = " btn btn-info glyphicon glyphicon-list", @title = "Detalles" }) |
            @Html.ActionLink(" ", "Delete", new { ColoniaID = item.Colonia, Pasaje_CalleID = item.Pasaje_Calle, CasaID = item.Casa }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash", @title = "Eliminar" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink(" ", "Create", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-plus", @title = "Nueva direccion" })
</p>
