@model IEnumerable<medEvolution.Models.App.Especialidad_Desempeniada> 

@{
    ViewBag.Title = "Index";
}

<h2>Especialidad Desempeñada</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreEspecialidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEspecialidad)
        </td>
        
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.CodigoEspecialidad }, htmlAttributes: new { @class = "btn btn-warning glyphicon glyphicon-pencil", @title = "Editar" }) |
            @Html.ActionLink(" ", "Details", new { id = item.CodigoEspecialidad }, htmlAttributes: new { @class = " btn btn-info glyphicon glyphicon-list", @title = "Detalles" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.CodigoEspecialidad }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash", @title = "Eliminar" })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink(" ", "Create", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-plus", @title = "Nueva especialidad" })
</p>
